@charset "UTF-8";

#header_wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(20,28,38);
}

.header{
	padding:0 20px;
}

#cont{	
    position: relative;
    width: 100vw;
    height: 100vh;
}

#cesiumContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    z-index: -1;
}

.tool {
	width: auto;
	position: absolute;
	top: 145px;
	right: 10px;
	z-index: 10;
	font-size: 14px;
	border-radius:3px;
}

.tool > div{
	position:relative;
}

.tool > div:not(:last-child){
/* 	border-bottom:1px solid #ffffff9e; */
}

.tool > div:hover .tool_btn_list,.tool_btn_list:hover{
	display:block;
}


.tool .analysis-container > div{	
    display: flex;
    align-items: center;
}

/* .tool .measurement-container > button:hover{ */
/* 	box-shadow: 0 0 0 .25remrgba(239, 178, 22, .5);		 */
/* } */

.tool .btn-primary{
    width: 54px;
	margin:0 auto;
    padding:6px 3px;
	text-align:center;
	background-color:rgb(20,28,38);
	border-color:rgb(20,28,38);
    align-items: center;
    border-radius:0;
    font-size: 14px;
}

.tool >div:first-child .btn-primary{
	border-radius:3px 3px 0 0;
}

.tool >div:last-child .btn-primary{
	border-radius: 0 0 3px 3px;
}

.btn_img{    
	display:block;
    height: 25px;
    margin: 0 auto;
}

.btn_img2 img{ 
	display:block;
    height: 25px;
    margin: 0 auto;
}

.btn_img img{
	height:100%;
	max-height:25px;
}

.btn_img3{    
	display:block;
    width: 20px;
    margin: 0 auto;
}

.btn_img3 img{ 
	width:100%;
	max-width:20px;
}

.tool .btn-primary:focus{
	background-color:#efb216;
	border-color:#efb216;
	box-shadow: 0;
}

.tool_btn_list .btn:focus,.tool_btn_list .btn-info:focus{
	box-shadow: none;	
}

.tool_btn_list .btn:hover{
    background-color: rgb(20,28,38);
	border-right: 1px solid #ffffff9e; 
	color:#efb216;
}

.tool .analysis-header:focus,.tool .analysis-header:hover{	
	background-color:#efb216;
	border-color:#efb216;
	box-shadow: 0 0 0 0.25rem rgb(239 178 22 / 25%);
}

.tool_btn_list{
	display:none;
	width:232px;
    position: absolute;
    left: -232px;
    top: 0;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}

.tool_btn_list2{
	width:174px;
	left: -174px;
}

.tool_btn_list .btn-info{	
    background-color: rgb(20,28,38);
    color:#fff;
	border-color:unset;
}

.tool_btn_list button{
	width: 58px;
    line-height: 21px;
    float: left;
    padding:6px 3px;
    border-radius:0;
    font-size:12px;
	border-right: 1px solid #ffffff9e; 	
	background-color: rgba(48,51,54,.8);
}

.tool_btn_list button:nth-child(n+5){
	border-top:1px solid #ffffff9e; 	
}


.tool_left{
	top:70px;
	right:unset;
	left:10px;	
}

.tool_left .tool_3d{
    width: 35px;
    padding: 7px;
    text-align: center;
	background-color:rgb(20,28,38);
	border-radius:50%;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tool_left p:hover{
	background-color:#efb216;
	border-color:#efb216;
	box-shadow: 0 0 0 0.25rem rgb(239 178 22 / 25%);
}

.tool_left .tool_3d img{
	width:85%;	
}

.tool_bottom{
	top:330px;
}

.tool_bottom .analysis-header:focus{	
    background-color: rgb(20,28,38);
    border-color: rgb(20,28,38);
    box-shadow: none;
}

#wrap .cesium-viewer-cesium3DTilesInspectorContainer{
	display:none;
    top: 10px;
    right: unset;
    left: 45px;
    padding-left:5px;
}

.cesium-baseLayerPicker-dropDown {
	z-index: 10000;
    right: -3px;
}

#baseLayerPickerContainer,#baseLayerPickerContainer2{	
    position: absolute;
    top: 70px;
    right: 10px;
    width: 60px;
    height: 70px;
    border-radius: 3px;
    background-color: #000;
    cursor:pointer;
    border:1px solid #444;
}

#baseLayerPickerContainer2{
	right:75px;	
}

#baseLayerPickerContainer:hover,#baseLayerPickerContainer2:hover{
    background-color: #efb216;
    border-color: #efb216;
    box-shadow: 0 0 0 0.25rem rgb(239 178 22 / 25%);
}

.cesium-toolbar-button{	
    width: 100%;
    height: 50px;
    margin: 0;
    border-radius: 0;
    border:unset;
}

.cesium-toolbar-button img{	
    object-fit: none;
}

.map_title{	
    color: #fff;
    font-size: 12px;
    padding: 3px 0;
    text-align: center;
}

.map_img{
	width:58px;
	height:50px;
}

.map_img img{
    width: 100%;
    height: 100%;
}

.cesium-button:hover,.cesium-button:active {
	fill: unset;
    box-shadow: none;
}
